/* css styles */

/* Make sure the back-to-top button is always on top */
div.#quarto-back-to-top {
  z-index: 1000 !important;
  position: relative;
}

/* Updating the button colors */
.btn-primary {
  background-color: #8966AB;
  border-color: #8966AB;
}

.btn-primary:hover {
  background-color: #7a58a0;
  border-color: #7a58a0;
}


/* Clean footer matching Quarto content width */
.custom-footer {
  max-width: var(--content-max-width, 800px); /* fallback to 800px if variable isn't defined */
  margin: 2em auto;
  padding: 1em 2em;
  font-size: 0.90em;
  line-height: 1.6;
  color: #666;
  border-top: 1px solid #ddd;
  background-color: #ffffff;
  text-align: left;
  box-sizing: border-box;
}


/* Limit image size in the recent-announcements listing */
[data-categories="Announcement"] img {
  max-width: 150px;
  height: auto;
  width: auto;
  object-fit: contain;
  border-radius: 8px;
}

hr {
  border: none;         /* Remove the horizontal line */
  height: 2em;          /* Adds vertical spacing */
  margin: 2em 0;        /* Extra spacing above and below */
}


.pub-list.list > li {
  margin-bottom: 2rem; /* Adjust as needed */
}

.pub-list {
  list-style-type: none;
  padding-left: .5;
}

.btn,
.btn-primary,
.btn-secondary,
.btn-tertiary {
  border-radius: 1.5rem;
}

